*.d
*.o
*.obj
*.out
*.a
*.so
*.res
*.lib
*.dll
*.exe
*.pyc
*.pyd
*.dat

*.yy.c
*.yy.cc
*.yy.h
*.yy.hh
*.tab.c
*.tab.cc
*.tab.h
*.tab.hh
location.hh
position.hh
stack.hh

*.depend
*.layout
*.log
*.stackdump

*.vvp
*.vcd

quartus/db/*
quartus/incremental_db/*
quartus/outputfiles/*
quartus/.qsys_edit/*
*.bak

out*
*temp*

build/*
!build/CMakeLists.txt

as/as
